@charset "utf-8";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin: 1rem 0;
}
p {
  background-color: #e4e4e4;
  padding: 0.5rem 0;
  text-indent: 1rem;
}
